<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^([0-9a-zA-Z]{6})$ index.php?do=code&urlKey=$1
	RewriteRule ^do/auth/(\w+?)(/domain/([\w\.]+?))?$ index.php?do=do&auth=$1&domain=$3
	RewriteRule ^register/(.*?)$ index.php?do=register&key=$1
	RewriteRule ^register-validate/(.*?)$ index.php?do=register&act=validate&key=$1
	RewriteRule ^login$   xss/index.php?do=login
</IfModule>